<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div class="container">
        <h1><%= title %></h1>
    </div>
    

    
    
    <script src="/Scripts/lib/jquery.js"></script>
    <script src="/Scripts/lib/bootstrap.min.js"></script>
    <script src="/Scripts/lib/angular.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
